<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>AcessaMap</title>
</head>

<body>

    <h1>AcessaMap</h1>

    <h2>Qual é a sua necessidade?</h2>

    <p>
        Você pode selecionar uma ou mais opções.
    </p>


    <form action="/mapa" method="get">

        <label>
            <input
                type="checkbox"
                name="perfil"
                value="cadeirante"
            >

            ♿ Cadeirante
        </label>


        <br><br>


        <label>
            <input
                type="checkbox"
                name="perfil"
                value="cego"
            >

            👁 Pessoa cega
        </label>


        <br><br>


        <label>
            <input
                type="checkbox"
                name="perfil"
                value="tea"
            >

            🧩 Pessoa com TEA
        </label>


        <br><br>


        <button type="submit">
            Continuar
        </button>

    </form>

</body>

</html>